In [1]:
import pandas as pd
import clean_df as cd

In [2]:
fda = pd.read_csv('fda.csv')
ndc = pd.read_csv('ndc.csv')
bert = pd.read_csv('bert_cleaned.csv')

# clean fda, ndc, and join it

In [3]:
display(fda.head(10))
display(ndc.head(10))

         FDA Companies
0       3D IMAGING DRUG
1                    3M
2      3M DRUG DELIVERY
3         AAIPHARMA LLC
4           ABBOTT LABS
5                ABBVIE
6      ABBVIE ENDOCRINE
7  ABBVIE ENDOCRINE INC
8            ABBVIE INC
9             ABHAI INC

                             name
0                      Row Labels
1               SPIRONOLACTONE %
2       -L'Oreal USA Products Inc
3                .Cardinal Health
4    .Church & Dwight Canada Corp
5   {Preferred Pharmaeutials INC.
6         †Wal-Mart Stores, Inc.†
7                 Veterans Health
8                           Medco
9  st Class Pharmaceuticals, Inc.

In [4]:
fda = cd.clean(fda,'FDA Companies ', True)
fda = fda[['name','clean','-company','-states','-common','short']]
#fda.to_csv('fda_cleaned.csv', index=False)

In [5]:
ndc = cd.clean(ndc,'name', True)
ndc = ndc[['name','clean','-company','-states','-common','short']]
#ndc.to_csv('ndc_cleaned.csv', index=False)

In [6]:
fda

,name,clean,-company,-states,-common,short
0,3d imaging drug,dimagingdrug,dimagingdrug,dimagingdrug,dimagingdrug,dimagingdrug
1,3m,m,m,m,m,m
2,3m drug delivery,mdrugdelivery,mdrugdelivery,mdrugdelivery,mdrugdelivery,mdrugdelivery
3,aaipharma llc,aaipharmallc,aaipharmallc,aaipharmallc,aaipharmallc,aaipharmallc
4,abbott labs,abbottlabs,abbottlabs,abbottlabs,abbottlabs,abbottlabs
...,...,...,...,...,...,...
970,zo skin health,zoskinhealth,zoskinhealth,zoskinhealth,zoskinhealth,zoskinhealth
971,zydus hlthcare,zydushlthcare,zydushlthcare,zydushlthcare,zydushlthcare,zydushlthcare
972,zydus pharms usa,zyduspharmsusa,zyduspharmsusa,zyduspharmsusa,zyduspharmsusa,zyduspharmsusa
973,zydus pharms usa inc,zyduspharmsusainc,zyduspharmsusainc,zyduspharmsusainc,zyduspharmsusainc,zyduspharmsusainc
974,zydus worldwide,zydusworldwide,zydusworldwide,zydusworldwide,zydusworldwide,zydusworldwide

In [7]:
ndc

,name,clean,-company,-states,-common,short
0,row labels,rowlabels,rowlabels,rowlabels,rowlabels,rowlabels
1,spironolactone %,spironolactone,spironolactone,spironolactone,spironolactone,spironolactone
2,-l'oreal usa products inc,lorealusaproductsinc,lorealusaproductsinc,lorealusaproductsinc,lorealusaproductsinc,lorealusaproductsinc
3,.cardinal health,cardinalhealth,cardinalhealth,cardinalhealth,cardinalhealth,cardinalhealth
4,.church & dwight canada corp,churchdwightcanadacorp,churchdwightcanadacorp,churchdwightcanadacorp,churchdwightcanadacorp,churchdwightcanadacorp
...,...,...,...,...,...,...
7022,zygone,zygone,zygone,zygone,zygone,zygone
7023,zyla life sciences us inc.,zylalifesciencesusinc,zylalifesciencesusinc,zylalifesciencesusinc,zylalifesciencesusinc,zylalifesciencesusinc
7024,#name?,name,name,name,name,name
7025,(blank),blank,blank,blank,blank,blank
7026,grand total,grandtotal,grandtotal,grandtotal,grandtotal,grandtotal

In [8]:
ndcfda = set(ndc['short']).union(set(fda['short']))
len(ndcfda)

6519

In [11]:
bert = set(bert['short'])
len(bert)

18304

In [12]:
len(bert.intersection(ndcfda))/ len(ndcfda)

0.10507746586899831